


	<div class="row align-items-center">
		<nav class="navbar navbar-expand-lg navbar-light">

	
				<a class="nav-item nav-link {% if '/blog_admin/' in request.path %} active {% endif %}" href="{% url 'blog_admin' %}"> Blog Admin <span class="sr-only">(current)</span></a>
				<a class="nav-item nav-link {% if '/add_blog/' in request.path %} active {% endif %}" href="{% url 'add_blog' %}">Add Blog</a>
				<a class="nav-item nav-link {% if '/blog_list_published/' in request.path %} active {% endif %}" href="{% url 'blog_list_published' %}">Unpublished</a>
				
		
	
		  </nav>
	
		<div class="col-sm-1 col">
			
		</div> <!-- col.// -->
		<a class="nav-item nav-link {% if '/blog_admin/' in request.path %} active {% endif %}" href="{% url 'blog_admin' %}"> Home <span class="sr-only">(current)</span></a>

	</div> <!-- col.// -->